﻿*, *:before, *:after {
    box-sizing: border-box;
}


.button-main {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background-color: red;
    text-align: center;
    cursor: pointer;
}

.button-main span {
    text-decoration: none;
    line-height: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.popup__title {
    text-align: center;
    font-size: 40px;
    margin: 0 0 1em 0;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
}
.input {
    padding: 10px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: rgba(0, 0, 0, .3) 2px solid;
    box-sizing: border-box;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.input:focus{
    outline: none;
    border: rgba(24, 148, 215, 0.397) 2px solid;
    color: rgba(24, 149, 215, 1);
}
.button {
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: rgba(0, 0, 0, .3) 0px solid;
    box-sizing: border-box;
    padding: 10px;
    background: #707981;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    transition: .4s;
    cursor: pointer;
}
.active{
    background: red;
}
.button:hover {
    background: #a6afb8;
}

.active:hover {
    background: rgb(255, 0, 0);
}

form input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

#custom-checkbox+label {
    position: relative;
    margin: 20px 0;
    text-transform: none;
    cursor: pointer;
    color: #707981;
}

label:before {
    outline: 1px solid #707981;
}

#custom-checkbox+label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-top;
    background: white;
}

#custom-checkbox:checked+label:before {
    background: red;
    outline: 0px;
}

#custom-checkbox:checked+label:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    left: 5px;
    top: 9px;
    background: white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.warning{
    margin: 10px 0;
    font-size: 18px;
}
.warning:hover{
    color:red;
}

@media screen and (max-width: 768px) {
    .popup {
        width: 100%;
        height: 100vh;
        font-size: 15px;
    }
    .input {
        font-size: 15px;
    }
    .button{
        font-size: 15px;
    }
}